{% load static %}

    
        <!-- Result JS -->
        <script src="{% static 'js/result.js' %}"></script>
    
        <!-- Custom js -->
        <script src="{% static 'js/custom.js' %}"></script>
 
        <main class="overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="tab-20 col-md-10">
                    
                        <div class="form-inner">
                        <!-- HTML !-->
<button class="button-24" role="button" onclick="GenerateImage()">Generate Image</button>
<button class="button-24" role="button" onclick="showresult()">A hint ?</button>
<button class="button-24" role="button" onclick="validate()">Validate</button>
                    
                    </div>
                </div>
                <div class="tab-100 col-md-7">
                    <div class="show-section wrapper">
                        {% block step %}
                         {% endblock %}
                        

                    </div>

                </div>
                
                <div class="tab-150 col-md-5">
                    <div id="loader" style="display: none;">
                        
                        <div id="loading_doodle" class="loadingio-spinner-eclipse-d06nutrbjt4">
                            <div class="ldio-5e857ykiagb">
                            <div></div>
                            </div></div>
                        

                    </div>

                </div>
            </div>
        </div>

                <!-- result -->
        <div class="loadingresult">
            <img src="{% static 'images/blue_load.gif' %}" alt="loading">
        </div>
        <div class="result_page" id="1">
            <div class="result_inner">
                <div class="result_inner2">
                    <h2>Hint</h2>
                    
                    <div class="line"></div>
                    <div class="result_show">
                        <div class="result_msg" id="thehint">
                            ~Generating~
                        </div>
                        <br>
                        <button class="button-24" role="button" onclick="hideresult()">Back</button>
                    </div>
                </div>

                <!-- rectangle -->
                <img class="behind_bg" src="{% static 'images/bh-clip.png' %}" alt="rectangle">
            </div>
        </div>
        <div class="result_page" id="2">
            <div class="result_inner">
                <div class="result_inner2">
                    <h2>Result !</h2>
                    
                    <div class="line"></div>
                    <div class="result_show">
                        <div class="result_msg" id="thefb">
                            ~Generating~
                        </div><img id="res" src="example.gif" alt="Example GIF">
                        <br>
                        <button class="button-24" role="button" onclick="hideresult()">Back</button>
                        <button class="button-24" role="button" onclick='loadHTMLPage("/art/",1);'>Next Problem</button>
                        <button class="button-24" role="button" onclick="loadHTMLPage('/show_similar_problems/',1)">Similar Problem</button>
                    </div>
                </div>

                <!-- rectangle -->
                <img class="behind_bg" src="{% static 'images/bh-clip.png' %}" alt="rectangle">
            </div>
        </div>

    </main>

    <div id="error"></div>



    
    <style type="text/css">
        @keyframes ldio-5e857ykiagb {
          0% { transform: rotate(0deg) }
          50% { transform: rotate(180deg) }
          100% { transform: rotate(360deg) }
        }
        .ldio-5e857ykiagb div {
          position: absolute;
          animation: ldio-5e857ykiagb 1s linear infinite;
          width: 160px;
          height: 160px;
          top: 120px;
          left: 120px;
          border-radius: 50%;
          box-shadow: 0 4px 0 0 #e15b64;
          transform-origin: 80px 82px;
        }
        .loadingio-spinner-eclipse-d06nutrbjt4 {
          width: 400px;
          height: 400px;
          overflow: hidden;
          background: none;
        }
        .ldio-5e857ykiagb {
          width: 100%;
          height: 100%;
          position: relative;
          transform: translateZ(0) scale(1);
          backface-visibility: hidden;
          transform-origin: 0 0; /* see note above */
        }
        .ldio-5e857ykiagb div { box-sizing: content-box; }
        /* generated by https://loading.io/ */
        </style>
