<!DOCTYPE html>
<html>
<head>
    <title>Speech to Text</title>
</head>
<body>
    <h1>Speech to Text</h1>
    <form id="speech-to-text-form-eng" method="post">
        {% csrf_token %}
        <input type="submit" value="Start Recording in English">
    </form>
    <form id="speech-to-text-form-fr" method="post">
        {% csrf_token %}
        <input type="submit" value="Start Recording in French">
    </form>
    <div id="transcription-result"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <div id="transcription-result">
      <p>English: <span id="transcription-en"></span></p>
      <p>French: <span id="transcription-fr"></span></p>
  </div>
  <script>
    $(document).ready(function() {
        $('#speech-to-text-form-eng').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'speech_to_text' %}",
                data: $(this).serialize(),
                success: function(response) {
                    $('#transcription-en').html(response.text_en);
                }
            });
        });
    });
    $(document).ready(function() {
        $('#speech-to-text-form-fr').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'speech_to_text' %}",
                data: $(this).serialize(),
                success: function(response) {
                    $('#transcription-fr').html(response.text_fr);
                }
            });
        });
    });
</script>
</body>
</html>
